{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 34px; margin: 20px auto;">游戏角色和规则（最最最简化版的）</h1>

<ol>
	<li>狼人：不论多少个狼人，每回合“黑夜”只可杀害一人。</li>

	<li>预言家：每回合“黑夜”可以要求主持人翻开一张身份卡，知道其中一名玩家的身份。</li>

	<li>猎人：当被狼人杀死或被村民处决时可射杀任意一个玩家进行报复（如被女巫毒死或自爆则不能)。</li>

	<li>女巫：女巫每次游戏可进行一次救人（解药）和一次杀人（毒药）；部分情况下的游戏不允许女巫在同一夜一次执行两个动作。女巫会被告知被狼人杀死的是哪位玩家以决定用药与否。</li>

	<li>丘比特 ：在准备阶段指定一对玩家成为“情侣”，“情侣”之间不能互相指控。当其中一个情侣死去则另一个都会死去。若情侣中有一狼人，他们的游戏目标则改为除去其他所有村民和狼人。</li>

	<li>普通村民 ：没有任何能力。</li>
</ol>
{% endblock content %}
