{% extends 'base.html' %}

{% block content %}
<form action="{% url 'lr:create_room' %}" method="get">
<div id="top_box" class="box clearfix">
<table class="input_table">
<tbody>
<tr>
	<td colspan="3">
	<span style="display:inline-block; margin-right:1%;  text-align:right">总人数：</span>
	<select class="langrensha_select"style="margin-right:5%; width:80px;"name="people"id="people"onchange="changeAll(this.value)">
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	</select>
</tr>
<tr align="center" valign="middle">
	<td height="50" colspan="3"><hr></td>
</tr>
<tr>
	<td align="left"width="42%">狼人数：</td>
	<td><select class="langrensha_select"style="width:80px;"name="lr"id="lr"onchange="changeLr(this.value)">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	</select></td>
	<td></td>
</tr>
<tr>
	<td align="left">村民数：</td>
	<td colspan="2">
		<input type="text"style="width: 50px;border:0;background-color: #f8e6ca;font-size:22px;"class="red"value="2"id="cunmin"name="cunmin"readonly="readonly">
	</td>
</tr>
<tr class="small">
	<td width="33%"><input type="checkbox"name="yyj"id="yyj"value="1"checked="checked"> 预言家</td>
	<td width="33%"><input type="checkbox"name="nw"id="nw"value="1"checked="checked"> 女巫</td>
	<td width="33%"><input type="checkbox"name="hunter"id="hunter"value="1"> 猎人</td>
</tr>
	<tr class="small">
	<td width="33%"><input type="checkbox"name="qbt"id="qbt"value="1"checked="checked"> 丘比特</td>
	<td width="33%"><input type="checkbox"name="sw"id="sw"value="1"> 守卫</td>
	<!-- <td width="33%"><input type="checkbox"name="baichi"id="baichi"value="1"> 白痴</td> -->
</tr>
</tbody>
</table>
</div>

<input id="creategame" type="submit" class="main_btn" value="创建游戏">
</form>
{% endblock content %}


{% block forJS %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript">

var minNumOfPeople = 6;
var people = minNumOfPeople;
var count = 0;
var err_msg = "人数超过上限";

if (people > minNumOfPeople) {
	$("#people").get(0).selectedIndex = people - minNumOfPeople;
	changeAll(people);
}

$(":checkbox").click(function(v) {
	var cm = parseInt($("#cunmin").val());

	if($(this).attr("checked")) {
		if(cm <= 1) {
			err(err_msg);
			$(this).removeAttr("checked");
		}
		else $("#cunmin").val(cm-1);
	}
	else $("#cunmin").val(cm+1);
}
);

function changeAll(people) {
	// 总人数改变的时候，看情况自动启用角色
	if(people >= 8) {
		$("#hunter").attr("checked", "checked");
	}
	else $("#hunter").removeAttr("checked");

	if(people >= 10) {
		$("#sw").attr("checked", "checked");
	}
	else $("#sw").removeAttr("checked");

	$(":checkbox[checked]").each(function() {
		count = count + 1;
	}
	);

	// 重新计算和更新当前配置
	var lr = Math.min(Math.floor(people / 4), 7);
	changeLr(lr);
}

function changeLr(lr) {
	// 设置的游戏总人数
	people = $("#people").val();

	// 统计已选角色的总人数
	count = 0;
	$(":checkbox[checked]").each(function() {
		count = count + 1;
	}
	);

	// 计算普通村民的人数
	var cunmin = people - lr - count;
	// 村民人数小于0表示设置错误，重置狼人个数为1
	if(cunmin > 0) {
		$("#cunmin").val(cunmin);
		$("#lr").get(0).selectedIndex = lr - 1;
	}
	else {
		overflowThenReset();
	}
}

function overflowThenReset() {
	err(err_msg);
	changeLr(1);
}

function err(info) {
	alert(info);
}
</script>
{% endblock forJS %}